* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #F1F2F4;
}

header {
  padding: 10px 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px #C6C7D5;
}

#profile {
  background: #fff;
  margin: 10px auto 10px auto;
  padding: 20px 20px 0px 20px;
  border-radius: 8px;
  width: 95%;
  justify-self: center;
  box-shadow: 1px 1px 1px 1px #C6C7D5;
}

#userImg {
  border: 3px solid #ED1279;
  /*border-bottom: none;
      border-bottom-right-radius: none;
      border-bottom-left-radius:none ;*/
  border-radius: 50% 50%;
  width: 100px;
  height: 100px;
  justify-self: center;
}

img {
  position: absolute;
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 50% 50%;
}

#userId {
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

#userName {
  text-align: center;
}

#comless {
  text-align: center;
  padding: 10px;
  opacity: 0.4;
}

#cards {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  padding: 15px;
}

.card {
  padding: 10px 20px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  width: 180px;
  height: 120px;
  display: grid;
  align-content: space-between;
}

a {
  color: #ED1279;
}

footer {
  background: rgba(134, 135, 144, 1);
  padding: 20px;
}

#flogo {
  justify-self: center;
}

#socials {
  justify-self: center;
  padding: 5px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

#socials i {
  font-size: 30px;
}

#quiz {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  width: 80%;
  padding: 5px;
}

#quiz .icon {
  display: flex;
  gap: 3px;
}

.icon>a {
  color: #000;
  text-decoration: none;
}

#subsc {
  width: 80%;
  justify-self: center;
  display: grid;
  justify-content: center;
  margin-top: 35px;
}

#subsc input {
  border-radius: 5px;
  padding: 4px;
  font-size: 15px;
  width: 250px;
}

#subsc p {
  text-align: center;
  padding: 5px;
}

#subsc button {
  border-radius: 10px;
  border: 2px double deeppink;
  width: 90px;
  justify-self: center;
  margin-top: 10px;
  padding: 10px auto;
  height: 25px;
}

#others {
  display: flex;
  width: 80%;
  justify-self: center;
  padding: 5px;
  margin-top: 10px;
}

#oth2 {
  border-left: 1px solid #3F4156;
  padding-left: 10px;
}

#oth1 {
  padding-right: 10px;
}

#others li {
  list-style-type: none;
  padding: 8px;
}

#others li a {
  text-decoration: none;
  color: #000;
}

#cpy {
  background-color: hsla(235, 0%, 0%, 1);
  color: hsla(235, 0%, 100%, 1);
  padding: 10px;
}

#cpy p {
  text-align: center;
}