*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  /*background: khaki;*/
  min-height:50px ;
  padding-top: 10px;
  position: sticky;
  top: 0px;
  backdrop-filter: blur(8px);
  z-index: 5;
}
i{
  font-size:30px ;
  margin-left:10px;
}
#aside{
  z-index: 5;
  position: absolute;
  background-color: rgba(255, 220, 140, 1);
  height: 100vh;
  width: 45vh;
  padding: 30px;
  top: 50px;
  display: none;
}
#aside li{
  font-size: 23px;
  margin-bottom: 10px;
}
#socials{
  display: flex ;
  gap: 10px ;
  position: absolute;
  bottom: 100px;
}
#container{
  padding-left: 15px;
  padding-right: 15px;
}
h1{
  text-align: center;
  padding: 15px ;
}
p{
  text-align: justify;
  margin-bottom: 10px;
}
#img{
  margin-top:15px;
  border: 2px solid red;
  height: auto;
  padding: 5px;
}
#img img{
  width: 100%;
}
img{
  border-radius: 10px;
}
.card p{
  background-color: khaki;
  padding: 20px;
  /*text-align: center;*/
  width: 20rem ;
}
.courosel{
  padding: 5px;
  /*border: 1px solid red;*/
  margin-top: 10px;
  margin-bottom: 10px;
  height:400px;
  display:flex;
  gap:15px;
  overflow: scroll;
  align-content: center;
  scroll-snap-points-x:none;
}
.btn{
  position: sticky ;
  z-index: 3;
  height:50px ;
  width: 50px;
  border-radius: 50%;
  border: 0.5px solid khaki;
  padding: 10px;
  background: none;
  backdrop-filter: blur(3px);
  transition: background 1s,backdrop-filter 1.2s;
}
.btn:hover{
  background: rgba(180, 183, 96, 0.81);
}
.lbtn{
  top: 10rem;
  left: 0;
}
.rbtn{
  top: 10rem;
  right: 8px;
}
.card{
  padding: 10px;
  border: 1px solid rgba(138, 138, 138, 1);
  border-radius: 5px;
  height: 350px;
 margin-top: 15px;
 align-content: center;
 /*width: 700px;*/
}
.one{
  margin-left:-34px;
}
#bio,#achieve{
  padding: 10px;
  display: grid;
  border: 0.5px solid rgba(206, 207, 216, 1);
  border-radius:10px;
  margin-bottom: 20px;
}
h3{
  text-align: center;
  padding: 2px;
  width:250px ;
  justify-self: center;
  margin-bottom: 15px;
  border-bottom: 2px solid khaki;
}
.rdm{
  padding: 5px;
  justify-self: center;
  background: khaki;
  border-radius: 10px;
  margin: 10px auto;
  font-size: 15px;
  border: 0.5px solid black;
  transition: background 1s,border 1s;
}
.rdm:hover{
  background: darkkhaki;
  border: none;
}
#gallery-holder{
  background: rgba(255, 220, 140, 0.6);
}
.gallery{
  padding:10px;
  display: grid;
  grid-template-columns:auto auto;
  gap: 20px;
}
.gallery img{
  width: 100%;
}
footer{
  background: black;
  color: #fff;
  padding: 20px 20px 0px 20px;
  display: grid;
}
ul{list-style-type:none;}
li{padding: 2px;}
h5{
  padding: 10px 0px;
  text-align: center;
}
@media screen and (min-width:780px){
  #top,.bio-holder{
    display: grid;
    grid-template-columns: auto auto;
    gap:30px;
  }
  .gallery{
    grid-template-columns:auto auto auto;
  }
}